.container-proposta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 26px;
}

.container-proposta > :nth-child(even) {
  margin-left: 16px;
  margin-right: 16px;
}

.container-proposta div {
  margin-top: 8px;
}
