.card {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  width: 28.125rem;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 29.625rem;
}

.card-fixed {
  height: 59.375rem;
}

.card:hover {
  height: 59.375rem;
}

.card .logo {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.6rem;
  margin: 10px 0;
  font-weight: bold;
}

.card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 400;
  color: #fff;
}

.card p {
  font-size: 0.85rem;
  color: white;
  margin-bottom: 20px;
}

.card h1 {
  font-size: 2rem;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 32px;
  font-weight: normal;
  line-height: normal !important;
}

.card h1 span {
  font-size: 1rem;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 0.9rem;
  margin-top: 20px;
}

.details p {
  margin: 0;
}

.details span {
  font-weight: normal;
}

.card span {
  color: white !important;
}

.details-line {
  margin-top: 0 !important;
}

.details-line p + p {
  margin-top: 16px;
}

.revenue {
  font-weight: normal;
  font-size: 1.3rem !important;
}

.revenue span {
  font-size: 0.85rem;
}

.cost {
  color: #ff4d4d !important;
  font-weight: normal;
  font-size: 1.3rem !important;
}

.cost span {
  font-size: 0.85rem;
}

.mol-percentage, .mol-total {
  color: #33cc33 !important;
  font-weight: normal;
  font-size: 1.3rem !important;
}

.mol-percentage span, .mol-total span {
  font-size: 0.85rem;
} 

.hover-info {
  padding: 20px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  text-align: left;
}

.card:hover .hover-info {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.card-fixed .hover-info {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.manager-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: none;
}

.hover-info h4 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 5px;
}

.hover-info p {
  font-size: 0.85rem;
  color: #ddd;
  margin-bottom: 5px;
}

.skills {
  margin-top: 10px;
}

.competencias {
  margin-top: 16px;
}

.skill-count {
  width: 46px;
  padding: 5px 10px;
  border-radius: 20px;
  color: #000000;
  background-color: #fff;
  font-size: 0.75rem;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
}

.skill, .location {
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 0.75rem;
  margin-right: 5px;
  display: inline-block;
  border: solid 1px #fff;
}

.location img {
  width: 12px;
  height: 12px;

  margin-right: 8px;
}

.project-dates {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.project-dates div p {
  font-size: 0.75rem;
  color: #ffffff;
}

.project-dates div {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color: #494949;
}

.d-flex {
  display: flex;
}

.hover-perfil {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
}

.hover-perfil img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.midias {
  display: flex;
  flex-direction: row;
}